:root {
  --white: #fff;
  --black: #222;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;

  --font-kr: Noto Sans CJK;

  --radius: 4px;

  /* ...add other color swatches as desired */
}
